<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coinlayer</title>
    <style>
        * {
            box-sizing: border-box;
        }
    </style>
    <script src="https://unpkg.com/vue@3"></script>

</head>

<body>
    <div id="app" style="display: flex; justify-content: center; align-items: center; height: 100vh;">

        <div>
            <h2>Crypto Price Viewer</h2>

            <label for="cryptoInput">Sélectionner une cryptomonnaie:</label>
            <select v-model="selectedCrypto" @change="getCryptoData">
                <option value="90">Bitcoin (BTC)</option>
                <option value="80">Ethereum (ETH)</option>
                <option value="2">DogeCoin (DOGE)</option>
                <option value="48543">Solana (SOL)</option>
                <option value="58">Ripple (XRP)</option>
                <option value="257">Cardano (ADA)</option>
                <option value="45088">Shiba Inu (SHIB)</option>
                <!-- Ajoutez d'autres options selon vos besoins -->
            </select>

            <div>
                <h3>Prix actuel:</h3>
                <p v-if="crypto !== null">Prix actuel: {{ crypto.price }} USD</p>
                <p v-if="crypto !== null">La capitalisation totale est de {{ crypto.market_cap }} USD</p>
                <p v-if="crypto !== null">La variation du prix aujourd'hui est de : {{ crypto.percent_change_24h }}USD
                </p>
                <p v-if="crypto !== null">Il y a {{ crypto.tsupply }} tokens en circulation</p>
                <p v-if="crypto !== null">Son classement est : {{ crypto.rank }}</p>
                <p v-else>Entrez le symbole d'une cryptomonnaie pour voir le prix.</p>
            </div>
        </div>

    </div>

    <script>
        var app = Vue.createApp({
            data() {
                return {
                    selectedCrypto: null,
                    crypto: null
                }
            },

            methods: {
                async getCryptoData() {
                    if (this.selectedCrypto) {
                        var apiUrl = "https://api.coinlore.net/api/ticker/?id=" + this.selectedCrypto;

                        try {
                            const response = await fetch(apiUrl);
                            const data = await response.json();

                            if (data.length > 0) {
                                this.crypto = {
                                    rank: data[0].rank,
                                    percent_change_24h: data[0].percent_change_24h,
                                    tsupply: data[0].tsupply,
                                    price: data[0].price_usd,
                                    market_cap: data[0].market_cap_usd
                                };
                            } else {
                                console.error("Cryptomonnaie introuvable.");
                                this.crypto = null;
                            }
                        } catch (error) {
                            console.error(error);
                        }
                    } else {
                        this.crypto = null;
                    }
                }
            }
        }).mount('#app');
    </script>
</body>

</html>